{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Товар</title>
    <link rel="stylesheet" type="text/css" href="{% static "/catalog/css/style.css" %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static "js/jquery214min.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>


</head>
<body>
<div id="shop_main_body"></div>

<div class="shop_container">
    <header>
        <div class="top_links">
            <a href="#" class="pull-left hidden-xs hidden-sm">О компании</a><a href="#" class="pull-left hidden-xs hidden-sm">Доставка и оплата</a><a href="#" class="pull-left hidden-xs hidden-sm">Контакты</a>
            {% if user.is_authenticated %}<a class="pull-right" href="{% url "users:logout" %}">Выход</a> <a class="pull-right">Привет, {{user.username}} </a> {% else %}<a href="{% url "users:register" %}" class="pull-right">Вход / Регистрация </a>{% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-12 col-md-10 top_brown">
            <table>
                <tr>
                    <td class="brand"><h1><a href="/">avdey</a></h1></td>
                    <td class="search_block hidden-xs hidden-sm">
                      <form method='post' action="{% url 'search' %}">
                          {% csrf_token %}
                        <input type="text" name='q' id="search" placeholder="поиск...">
                        <input type="submit" value="найти" id="search_button">
                      </form>
                    </td>
                    <td class="phones">
                        375 29 8836989<span class="small">пн-пт 10:00-20:00, сб-вс 10:00-18:00</span><br>
                        375 25 5000884<span>Звони, заказывай</span>
                    </td>
                </tr>
            </table>
        </div>
        <a style="text-decoration:none;" href="{% url "cart:CartDetail" %}" class="col-md-2 hidden-xs hidden-sm basket_big text-center">
            <div class="img-basket"></div>
              Корзина ({{ cart.get_total_quantity }})
        </a>
        <div class="clearfix"></div>
        <ul class="top_menu">
            <li class="hidden-xs hidden-sm">
                <a href="#" class="can_open">Бренды</a>
                <div>
                    <ul class="pull-left">
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Holika Holika</a></li>
                    </ul>
                    <img src="{% static "/catalog/" %}img/subcat_img.jpg">
                </div>
            </li>
            <li class="hidden-xs hidden-sm">
                <a href="#" class="can_open">Лучшее</a>
                <div>
                    <ul class="pull-left">
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Anskin</a></li>
                        <li><a href="#">Baviphat</a></li>
                        <li><a href="#">Club Clio</a></li>
                        <li><a href="#">Holika Holika</a></li>
                        <li><a href="#">Holika Holika</a></li>
                    </ul>
                    <img src="{% static "/catalog/" %}img/subcat_img.jpg">
                </div>
            </li>
            <li class="hidden-xs hidden-sm"><a href="#">Джинсы</a></li>
            <li class="hidden-xs hidden-sm"><a href="#">Рубашки</a></li>
            <li class="hidden-xs hidden-sm"><a href="#">Пиджаки</a></li>

            <li class="hidden-md hidden-lg">
                <a href="#" class="can_open">Каталог</a>
                <div class="mobile_subcats">
                    <ul>
                        <li>
                            <a href="#" class="can_open">Бренды</a>
                            <div>
                                <ul>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="can_open">Поло</a>
                            <div>
                                <ul>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Anskin</a></li>
                                    <li><a href="#">Baviphat</a></li>
                                    <li><a href="#">Club Clio</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                    <li><a href="#">Holika Holika</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Джинсы</a></li>
                        <li><a href="#">Рубашки</a></li>
                        <li><a href="#">Костюмы</a></li>
                    </ul>
                </div>
            </li>
            <li class="hidden-md hidden-lg"><a href="#">О магазине</a></li>
            <li class="hidden-md hidden-lg pull-right"><a href="#" class="basket_mob">Корзина пуста</a></li>
            <li class="hidden-md hidden-lg pull-right"><a href="#" class="search"></a></li>
        </ul>
    </header>
    <div class="white_row">
        <div class="hidden-xs hidden-sm col-md-3">
          <ul class="catalog">
              <li class="can_open">
                  Женщинам
                  <ul>
                    {% for cat in category_1 %}
                      <li><a href="{% url "category" cat.slug %}">{{cat.name}}</a></li>
                    {% endfor %}
                  </ul>
              </li>
              <li class="can_open">
                  Мужчинам
                  <ul>
                    {% for cat in category_2 %}
                      <li><a href="{% url "category" cat.slug %}">{{cat.name}}</a></li>
                    {% endfor %}
                  </ul>
              </li>
              <li class="can_open">
                  Детям
                  <ul>
                    {% for cat in category_3 %}
                      <li><a href="{% url "category" cat.slug %}">{{cat.name}}</a></li>
                    {% endfor %}
                  </ul>
              </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-9">
            <ul class="breads">
                <li><a href="#">{{section.name}}</a></li>
                <li>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
                <li>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">{{item.name}}</a></li>
            </ul>

            <div class="item_block">
                <h2>{{item.name}}</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-4 item_img"><img src="{{item.image.url}}"></div>
                    <div class="col-sm-12 col-md-8 item_about">
                      <ul class="item_info">
                        <li>Бренд: {{item.brand.name}}</li>
                        <li>Категории товара: {{section.name}} > {{category.name}}</li>
                        <li>Размер: {{item.size}}</li>
                        <li>Артикул: E{{item.pk}}</li>
                        <li>Страна производитель: {{item.land}}</li>
                        <li class="prices"><span>{{item.price}}</span> руб
                          <p class="exist">
                          {% if item.count == 0 %}
                          Нет в наличии
                          {% else %}
                          В наличии!
                          {% endif %}
                          </p>
                        </li>
                        <form action="{% url "cart:CartAdd" item.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="butt" type="submit"  value="В корзину">
                        </form>
                      </ul>

                    </div>
                </div>
                <div class="item_text">
                    <p><strong>Состав: </strong>{{item.compound}}</p>
                    <p><strong>Описание: </strong> {{item.description}}</p>
                </div>
            </div>

            <section class="tovary_block">
                <h2 class="text-center">Случайные товары</h2>
                <ul class="tovary_catalog">
                  {% for product in randquery %}
                    <li>
                        <img src="{{product.image.url}}">
                        <p>{{product.name}}</p>
                        <div class="price">{{product.price}} <span>руб</span></div><a href="{% url 'item' product.id %}" class="more">Подробнее</a>
                    </li>
                  {% endfor %}
                </ul>
            </section>

            <form id="review_form">
                <h2>Напишите отзыв</h2>
                <textarea placeholder="Напишите объективный отзыв"></textarea>
                <button type="submit" class="pull-right">Отправить</button>
                <a href="#" id="review_photo" class="pull-right"></a>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<footer>
    <div class="shop_container">
        <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 text-left links">
            <a href="#">О компании</a>
            <a href="#">Доставка и оплата</a>
            <a href="#">Контакты</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-md-push-4 text-right">
            <ul class="soc">
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_vk.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_ok.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_fb.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_tw.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_gp.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/soc_mail.png"></a></li>
            </ul>
        </div>
        <div class="clearfix hidden-lg hiddem-md"></div>
        <div class="col-sm-12 col-md-4 col-md-pull-4 text-center">
            <ul class="pays">
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/qiwi.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/visa.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/webmoney.png"></a></li>
                <li><a href="#" target="_blank"><img src="{% static "/catalog/" %}img/yandex_money.png"></a></li>
            </ul>
            <!--p>&copy; 2016 www.site.ru<br>Copyright: Ali Sayed. All Rights Reserved.</p-->
        </div>
        <div class="clearfix"></div>
        </div>
    </div>
</footer>

</body>
</html>
